.card.card-signup {
  margin: 2em;
}

input.form-control {
  width: 33%;
  min-width: 260px;
  font-size: 1em;
}

.container .file-upload {
  margin: 1em;
}

.container .file-upload button{
  margin: 0 auto;
  display: block;
}