html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2e5067;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 8em);
  left: calc(50% - 8em);
  width: 8em;
  height:8em !important;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #FFFFFF;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root {
  height: 100%;
}

.root {
  height: 100%;
}

.page-header {
  background: url("/images/banner.jpg");
  background-size: cover;
  height: 100%;
}

.navbar-brand {
  width: 62px;
  height: 62px;
  background-image: url("/images/logo.png");
  background-size: cover;
}

h1.display-4 {
  color: white;
}

p.lead {
  color: white;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 7rem 2rem;
  }
}

.navbar .navbar-brand {
  position: relative;
  /*max-width: 6em;*/
  max-height: 3em;
  min-width: 290px;
}

.navbar-translate {
  min-width: 112px;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
}

input[type="file"] {
  border-radius: 30px;
  text-align: center;
  padding: 27px;
  margin: 20px auto;
  border: solid 1px #ff545438
}

.btn.btn-primary {
  background-color: #c6223f;
  border: solid 1px #c6223f;
  color: white;
}

.btn.btn-success {
  border: solid 1px ;
}

.btn.btn-primary a {
  color: white;
}

.confirm-button {
  margin: auto 0;
}

select.permission-combo-box {
  height: 50px;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  background: url("/images/down_arrow.png") no-repeat 254px 12px;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  display: block;
}

select {
  width: 400px;
  text-align-last: center;
  border: solid 2px #bf1f37
}

footer {
  background-color: black;
}

/*//Modal*/

.button:hover {
  color: #333;
  background: #eeffff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: -20px;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 400px;
  background-image: url(/images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Select */

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 278px;
  border-color: #444 #333 #333 #444 !important;
  background: url("/images/down_arrow.png") no-repeat 254px 12px;
}